# virtual env
**.env
coconut-env
**/venv

# IDE stuff
**.idea

# model weight, logs
**/weights
**/logs

# cache
**/__pycache__

# mac file
**/__MACOSX

# sub git repository
#**/.git

# wandb file
**/wandb

# split to sentence
preprocess_datasets/preprocess_datasets_sentence
preprocess_datasets/preprocess_datasets_SRL